<h2> Products</h2>

<div id="product-container">
  
  {{#each products}}
    <div class="card">
      <p>ID: {{this._id}}</p>
      <img src="https://placekitten.com/200/286" class="card-img-top" alt="{{this.title}}" />
      <h2> {{this.title}}</h2>
      <p>Description: {{this.description}}</p>
      <p>Price: $ {{this.price}}</p>
      <p>Category: {{this.category}}</p>

       <button> Agregar al Carrito </button>
      
    </div>
  {{/each}}
</div>

{{#if hasNextPage}}
    <a href="/products?page={{nextPage}}">Siguiente</a>
{{/if}}

{{#if hasPrevPage}}
    <a href="/products?page={{prevPage}}">Anterior</a>
{{/if}}

<p>Pagina {{currentPage}} de {{totalPages}}</p>
