<h2> Products</h2>

<div id="product-container">
  
  {{#each products}}
    <div class="card">
      <p>ID: {{this._id}}</p>
      <img src="https://placekitten.com/200/286" class="card-img-top" alt="{{this.title}}" />
      <h2> {{this.title}}</h2>
      <p>Description: {{this.description}}</p>
      <p>Price: $ {{this.price}}</p>
      <p>Category: {{this.category}}</p>

       <button> Comprar </button>
      
    </div>
  {{/each}}
</div>

