{{>header}}

<h2>Mi Perfil</h2>
<div class="profile-container">
    <div class="profile">
        <div class="card">

            <h3>Bienvenido a tu Perfil {{user.first_name}} {{user.last_name}}!</h3>
            <p>Email: {{user.email}}</p>
            <p>Rol: {{user.role}}</p>
        </div>

        <div>
            <button class="logout-profile-button">
                <a href="/api/sessions/logout" >Logout</a>
            </button>
        
        </div>

    </div>
    {{#if this.isAdmin}}
    <button class="" href="/realtimeproducts">Modificar Productos</button>
  {{else}}
    <button class="" href="/chat">Chat en vivo</button>
    <button class="" href="/products">Tienda</button>
  {{/if}}
</div>